<body>

<i style="color: blue;" class="fas fa-cog" ></i>
<Span class="text"  style="color: blue; font-size: large;">  User Password Management </Span>

<div [hidden]="!isAdmin" >
  <form #resetPasswprdForm = "ngForm" (ngSubmit)="resetPassword(resetPasswprdForm)">
    <fieldset>
      <legend >reset Password</legend>
      <div class="form-group" >
        <label for="emailInput" >Email Address : </label>
        <select name="reset-password-email" required  ngModel class="form-control">
          <option value="" disabled selected>Select your email</option>
          <option *ngFor="let email of emails" [value]="email">{{ email }}</option>

          <!-- Add option elements dynamically if needed -->
          <!-- Example:
          <option value="example1@example.com">example1@example.com</option>
          <option value="example2@example.com">example2@example.com</option>
          -->
        </select>
        <small class="form-text text-muted " > We'll never share your email with anyone else . </small>
      </div>
      <button type="submit"  [disabled]="resetPasswprdForm.invalid" class="btn btn-primary">
        <i *ngIf="refreshing" class="fas fa-spinner fa-spin"></i>&nbsp;&nbsp;
        <span *ngIf="refreshing" >Loading ...</span>
        <span *ngIf="!refreshing" >Reset Password...</span>
      </button>
    </fieldset>
  </form>
</div>
</body>

<div>
  <app-sidenavigation></app-sidenavigation>
</div>
